body {
    background-color:#F2E7DC;;
    font-family: monospace;
    text-align: justify;
}
#topo{
	background-color: PaleVioletRed;
	color: #F2E7DC;
	text-align: center;
	
	
	
}

.tituloL {
    text-align: center;
    background-color: LightPink;
    color: MistyRose;
}

.sinopse {
    text-align: center;
    background-color: LightPink;
     color: MistyRose;/*cor da letra do texto*/
}

img {
    width: 150px;
    margin-left: 780px;
    border: block;
    border-radius: 20px;
}

table {
    margin: auto;
    
}

td {
    background-color: Violet;
    text-align: center;
}

tr {
    background-color: LightSteelBlue;
    text-align: center;
}
td, th{
	/*borda*/
	border-width: 3px;
	border-style: solid; /*solido*/
	border-radius: 10px;
	border-color: #F2E7DC;

	text-align: center;
	padding: 8px;
}
p {
	text-align: justify;
	text-indent: 50px; /*identação da primeira linha de cada inicio do texto*/
}


h1 {
    text-align: center;
    background-color: Plum;
    font-family: monospace;
}


ol {
    font-family: monospace;

}

a:hover{
	color: #025454;/* quando passa mouse por cima da link aparece a cor*/
}
a {
	color: plum;
}

span {
    background-color: plum;
    font-family: verdana;
}

p {
    font-family: monospace;
}

#l1, #l3, #l5{
	background-color: lavender;
	border-radius: 50px;
}
#sumario{
	background-color: LightPink;
	color: #F2E7DC;
	padding: 20px;
	margin-bottom: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 200px;
	text-align: center;
}

